body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #213242;
  overflow-x: hidden;
  overflow-y: auto;
}

.main_color {
  color: #e3a92b;
}

.no_btn {
  background-color: transparent;
  border: transparent;
}

.btn_color {
  padding: 5px 15px;
  background-color: #e3a92b;
  position: relative;
  border-color: #e3a92b;
  cursor: pointer;
}

.btn_color span {
  position: relative;
  color: #fff;
  z-index: 2;
}

.btn_color:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

.btn_color-outline {
  padding: 5px 15px;
  position: relative;
  border-color: #e3a92b;
  cursor: pointer;
}

.btn_color-outline span {
  position: relative;
  color: #fff;
  z-index: 2;
}

.btn_color-outline:hover {
  background-color: #e3a92b;
  color: #fff;
}

.see_more_btn {
  display: block;
  width: 100%;
  text-align: center;
}

.see_more_btn button {
  color: #fff;
  padding: 10px 20px;
  border-color: #e3a92b;
  margin: 25px auto;
}

.pagination_med .pagination a.page-link {
  color: #e3a92b !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dv_bkground_contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dv_bkground_cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  color: #213242;
}

a:hover {
  text-decoration: none;
}

header .top_header {
  padding: 5px 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top_header .logo {
  width: 250px;
}

header .top_header .logo a {
  background-image: url(../images/logo.png);
  display: block;
  height: 80px;
}

header .top_header .search_form button.btn.search_btn {
  margin-left: -40px;
  color: #e3a92b;
  background-color: #fff;
  padding: 5px;
  position: relative;
}

header .nav {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 8;
}

header .nav .min_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav .min_menu .toggle_bar {
  display: none;
}

header .nav .min_menu .login_btns_mobile {
  display: none;
}

header .nav .min_menu .the_navbar {
  width: 100%;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav .min_menu .the_navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .min_menu .the_navbar ul ul {
  margin-left: auto;
}

header .nav .min_menu .the_navbar ul ul span {
  font-size: 18px;
}

header .nav .min_menu .the_navbar ul ul > li::after {
  display: none;
}

header .nav .min_menu .the_navbar ul li {
  margin: 5px;
  position: relative;
}

header .nav .min_menu .the_navbar ul li a {
  padding: 5px 15px;
  font-size: 20px;
  color: #fff;
}

header .nav .min_menu .the_navbar ul li {
  padding: 15px 5px;
  margin: 5px;
  position: relative;
  z-index: 5;
}

header .nav .min_menu .the_navbar ul li::after {
  background-color: #213242;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
}

header .nav .min_menu .the_navbar ul li:hover a {
  color: #213242;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav .min_menu .the_navbar ul li:hover::after {
  background-color: #e3a92b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav .min_menu .the_navbar .uer_info {
  position: relative;
  color: #fff;
  cursor: pointer;
}

header .nav .min_menu .the_navbar .uer_info ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 100%;
  left: 0;
  right: 0;
  top: 50px;
  height: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
}

header .nav .min_menu .the_navbar .uer_info ul li {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 5px 0;
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

header .nav .min_menu .the_navbar .uer_info ul li:hover {
  background-color: #e3a92b;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .nav .min_menu .the_navbar .uer_info ul li a {
  font-size: 16px;
}

header .nav .min_menu .the_navbar .uer_info ul li a:hover {
  color: #fff;
}

header .nav .min_menu .the_navbar .uer_info:hover .uer_info_list {
  height: auto;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

header .nav.active {
  background-color: #fff;
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.28);
}

header .nav.active .the_navbar ul li a {
  color: #e3a92b;
}

header .header_slider .indecators_style li {
  background-color: #e3a92b;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

header .header_slider .slider_img_bg {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header_slider .over_ly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.26);
}

header .header_slider .header_slider_contain {
  position: relative;
  z-index: 5;
  color: #fff;
}

header .header_slider h1 {
  font-size: 5rem;
}

header .header_slider p {
  font-size: 1.5rem;
}

.pagge_wraper .min_sec {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagge_wraper .corses_sec .home_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.pagge_wraper .corses_sec .home_intro h1 {
  color: #e3a92b;
  font-size: 40px;
}

.pagge_wraper .corses_sec .home_intro p {
  padding-top: 15px;
  color: #213242;
}

.pagge_wraper .cors_item {
  display: block;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.188235);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.188235);
  border-radius: 5px;
  margin: 12px 0;
  overflow: hidden;
}

.pagge_wraper .cors_item .cors_body .cors_img {
  height: 250px;
  position: relative;
}

.pagge_wraper .cors_item .cors_body .cors_img::before {
  content: "";
  left: -50px;
  right: 0;
  bottom: -2px;
  height: 44px;
  position: absolute;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 85px 474px 0px 0px;
}

.pagge_wraper .cors_item .cors_body .cors_img .cors_price {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #e3a92b;
  color: #213242;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  right: 0;
  bottom: 45px;
  font-weight: bold;
  overflow: hidden;
}

.pagge_wraper .cors_item .cors_body .cors_info {
  padding: 0 15px;
  text-align: center;
}

.pagge_wraper .cors_item .cors_body .cors_info .cors_name {
  font-size: 20px;
  font-weight: 500;
}

.pagge_wraper .cors_item .cors_body .cors_info .cors_desc {
  color: #e3a92b;
  font-weight: 500;
  margin: 10px 0;
}

.pagge_wraper .cors_item .cors_body .cors_footer {
  padding: 0 15px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagge_wraper .cors_item .cors_body .cors_footer .cors_rating .fa {
  color: gold;
}

.pagge_wraper .cors_item .cors_body .reacher_info {
  padding: 5px 15px;
  margin: 30px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #213242;
}

.pagge_wraper .banner_sec .banner {
  min-height: 250px;
  padding: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagge_wraper .banner_sec .banner .over_ly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(227, 169, 43, 0.55);
}

.pagge_wraper .banner_sec .banner .banner_item {
  color: #fff;
  margin: 15px 0;
}

.pagge_wraper .banner_sec .banner .banner_item .banner_icon {
  font-size: 50px;
}

.pagge_wraper .banner_sec .banner .banner_item .banner_counter {
  font-size: 40px;
  font-weight: bold;
}

.pagge_wraper .banner_sec .banner .banner_item .banner_title {
  font-size: 25px;
}

.pagge_wraper .event_sec .events_title h1 {
  color: #e3a92b;
}

.pagge_wraper .event_sec .events_title p {
  color: #213242;
}

.pagge_wraper .event_sec .event_item {
  margin: 25px 0;
}

.pagge_wraper footer {
  background-color: #213242;
  color: #fff;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagge_wraper footer .footer_links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagge_wraper footer .footer_links li {
  display: inline-block;
  margin: 0 5px;
}

.pagge_wraper footer .footer_links li a {
  color: #e3a92b;
}

.pagge_wraper footer .chat_services {
  text-align: right;
}

.pagge_wraper footer .chat_services .btn {
  margin-top: 10px;
  color: #e3a92b;
}

.pagge_wraper footer .chat_services .btn:hover {
  color: #fff;
}

.pagge_wraper .copy_write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  background-color: #e3a92b;
  color: #fff;
}

.pagge_wraper .copy_write p {
  margin: 0;
}

.header_banner {
  background-image: url(../images/banner1.jpg);
  height: 250px;
  text-align: center;
  position: relative;
}

.header_banner .over_ly {
  padding-top: 70px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(227, 169, 43, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_banner h1 {
  color: white;
}

.courses_filter {
  margin: 50px 0;
}

.courses_filter .corses_btn {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
}

.courses_filter .corses_btn.active {
  background-color: transparent;
  color: #e3a92b;
}

.courses_filter .corses_btn:hover {
  background-color: transparent;
  color: #e3a92b;
}

.education_courses .course_item_grid {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.education_courses .course_item_grid.active {
  display: block !important;
}

.registration_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.registration_page .form {
  width: 500px;
  display: block;
  -webkit-box-shadow: 0 0 10px 3px rgba(227, 169, 43, 0.55);
          box-shadow: 0 0 10px 3px rgba(227, 169, 43, 0.55);
  padding: 15px;
}

.registration_page .form input[type="email"],
.registration_page .form input[type="password"],
.registration_page .form input[type="text"] {
  margin: 20px 0;
  padding: 20px;
  font-size: 20px;
}

.registration_page .form .logo {
  margin: 15px auto;
  display: block;
  text-align: center;
}

.registration_page .form label {
  color: #e3a92b;
}

.registration_page .form .btn_sub {
  width: 100%;
  background-color: #e3a92b;
  font-size: 20px;
  color: #fff;
  margin: 15px 0;
}

.registration_page .form .regiter_help {
  text-align: center;
}

.about_us {
  margin: 50px 0;
}

.about_us .about_tabs ul li {
  cursor: pointer;
  border: 1px solid #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about_us .about_tabs ul li.active {
  background-color: #e3a92b;
  border-color: #e3a92b;
}

.about_us .about_tabs ul li:hover {
  background-color: #e3a92b;
  border-color: #e3a92b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.about_us .about_text .about_section_text {
  display: none;
}

.about_us .about_text .about_section_text.active {
  display: block;
}

.about_us .about_text .about_section_text .title {
  font-size: 25px;
  font-weight: bold;
  color: #e3a92b;
}

.course_info {
  margin: 25px 0;
}

.course_info .course_inforomation {
  border: 3px solid rgba(227, 169, 43, 0.55);
  background-color: #213242;
  color: #fff;
}

.course_info .course_inforomation .course_image {
  height: 400px;
}

.course_info .course_inforomation .course_info_body {
  padding: 10px 25px;
}

.course_info .course_inforomation .course_info_body .course_name {
  margin: 25px 10px;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher .techer_img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher .teacher_info {
  margin-left: 25px;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher .teacher_info .thc_position {
  font-size: 25px;
  font-weight: bold;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher .teacher_info .thc_name {
  font-weight: 500;
}

.course_info .course_inforomation .course_info_body .course_teacher_section_rating .teacher_rating .rating_tch {
  color: gold;
}

.course_info .course_inforomation .course_desctiption_taps .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course_info .course_inforomation .course_desctiption_taps .nav li {
  margin: 10px;
  padding: 0;
}

.course_info .course_inforomation .course_desctiption_taps .nav li a {
  padding: 15px 25px;
}

.course_info .course_inforomation .course_desctiption_taps .nav li a:hover {
  background-color: #fff;
  color: #000;
}

.course_info .course_inforomation .course_desctiption_taps .nav li a.active {
  background-color: #fff;
}

.course_info .course_inforomation .course_desctiption_taps .taps_content {
  padding: 15px 30px;
  text-align: center;
}

.course_info .course_sidebar_info {
  border: 2px solid rgba(227, 169, 43, 0.55);
  padding: 15px;
}

.course_info .course_sidebar_info .the_title {
  font-size: 20px;
  font-weight: bold;
}

.course_info .course_sidebar_info .price {
  text-align: center;
  border-bottom: 1px solid #e3a92b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 5px;
}

.course_info .course_sidebar_info .course_date_info li {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.course_info .course_sidebar_info .course_date_info li i {
  font-size: 22px;
  color: #e3a92b;
}

.course_info .course_sidebar_info .course_date_info li p {
  margin: 0;
  margin-left: 15px;
}

.course_info .course_sidebar_info .btn_color {
  color: #fff;
  padding: 10px 25px;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.course_info .course_sidebar_info .btn_color:hover {
  background-color: transparent;
  color: #e3a92b;
}

.cart_page {
  margin: 25px 0;
}

.cart_page .cart_form {
  padding: 15px;
  margin-bottom: 25px;
  border: 3px solid rgba(227, 169, 43, 0.55);
}

.cart_page .cart_form .section_cart {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_page .cart_form .section_cart.active {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_page .section_cart_1 .cart_title {
  margin: 5px 0px;
  padding: 10px;
  border-bottom: 1px solid;
  font-size: 22px;
  font-weight: bold;
}

.cart_page .section_cart_1 .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  margin: 10px;
}

.cart_page .section_cart_1 .check_price {
  font-size: 20px;
}

.cart_page .section_cart_1 .check_price .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.cart_page .section_cart_1 .check_price .form-check-label {
  line-height: normal;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.cart_page .section_cart_1 .check_price input[type="radio"] {
  width: 18px;
  height: 18px;
  visibility: hidden;
  cursor: pointer;
  position: relative;
}

.cart_page .section_cart_1 .check_price input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: 0px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.cart_page .section_cart_1 .check_price input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: 0px;
  position: relative;
  background-color: #e3a92b;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.cart_page .section_cart_2 .cart_title {
  margin: 5px 0px;
  padding: 10px;
  border-bottom: 1px solid;
  font-size: 22px;
  font-weight: bold;
}

.cart_page .section_cart_2 .user_info_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  margin: 10px;
}

.cart_page .section_cart_2 .final_price_info .price_inf_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  padding: 15px 10px;
  border-top: 1px solid #000;
}

.cart_page .section_cart_2 .final_price_info .price_inf_section .price_total {
  font-weight: 500;
}

.cart_page .section_cart_3 .bank_transfare .cart_title {
  margin: 5px 0px;
  padding: 10px;
  border-bottom: 1px solid;
  font-size: 22px;
  font-weight: bold;
}

.cart_page .section_cart_3 .bank_transfare .bank_trans_info {
  font-size: 20px;
  padding: 10px;
  background-color: #213242;
  color: #fff;
  margin: 5px 0;
}

.cart_page .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 50px;
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_page .controls .btn {
  padding: 5px 20px;
  font-size: 19px;
}

.cart_page .controls .btn:hover {
  background-color: transparent;
  color: #e3a92b;
}

.price_side_bar {
  background-color: #213242;
  color: #fff;
  padding: 15px;
}

.price_side_bar .side_title {
  font-size: 20px;
}

.price_side_bar ul li {
  margin: 10px 0;
  padding: 10px;
}

.price_side_bar ul li.active {
  background-color: #e3a92b;
}

.team_section {
  padding: 25px;
}

.team_section .team_item {
  border: 1px solid rgba(227, 169, 43, 0.55);
  margin: 10px 0;
}

.team_section .team_item .team_img {
  min-height: 300px;
}

.team_section .team_item .team_box_info {
  padding: 10px;
}

.team_section .team_item .team_box_info .team_title {
  text-align: center;
  color: #e3a92b;
  font-size: 25px;
  font-weight: bold;
}

.team_section .team_item .team_box_info .team_position {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.team_section .team_item .team_box_info p {
  text-transform: capitalize;
}

.team_section .team_item .team_box_info .team_sicial {
  text-align: center;
}

.team_section .team_item .team_box_info .team_sicial a {
  margin: 15px 10px;
  font-size: 20px;
}

.team_section .team_item .team_box_info .team_sicial a .fa-facebook-f:hover {
  color: #1877f2;
}

.team_section .team_item .team_box_info .team_sicial a .fa-twitter:hover {
  color: #1da1f2;
}

.team_section .team_item .team_box_info .team_sicial a .linkedin:hover {
  color: #007bb5;
}

.blog_section .blog_item {
  margin: 25px 0;
}

.blog_section .blog_item .blog_img {
  height: 300px;
  border-radius: 20px;
  position: relative;
}

.blog_section .blog_item .blog_img .blog_ctegury {
  position: absolute;
  padding: 10px 20px;
  background-color: #fff;
  color: #e3a92b;
  border-radius: 30px;
  left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 15px;
}

.blog_section .blog_item .blog_img .blog_ctegury:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #213242;
  color: #fff;
}

.blog_section .blog_item .blog_item_title {
  font-weight: bold;
  font-size: 25px;
  margin: 15px 0;
}

.blog_details {
  margin: 25px 0;
}

.blog_details .blog_img {
  min-height: 400px;
  margin-bottom: 25px;
}

.blog_details .title_blog_details {
  font-size: 25px;
  margin: 20px 0;
  font-weight: bold;
}

.profile_page .user_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #e3a92b;
  position: relative;
}

.profile_page .user_name {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.profile_page .user_location {
  text-align: center;
  margin-top: -10px;
}

.profile_page .profile_info .profile_nav_taps {
  height: 60px;
  border: solid #f4f4f4;
  margin-top: 50px;
  border-width: 2px 0 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page .profile_info .profile_nav_taps .taps_nav ul {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page .profile_info .profile_nav_taps .taps_nav ul li {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.profile_page .profile_info .profile_nav_taps .taps_nav ul li.active {
  color: #e3a92b;
  border-bottom-color: #e3a92b;
}

.profile_page .profile_info .profile_section_info .pro_info_sec {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.profile_page .profile_info .profile_section_info .pro_info_sec:first-child {
  display: block;
}

.profile_page .profile_info .profile_section_info .pro_info_sec .event_item {
  margin: 10px;
}

.profile_page .profile_info .profile_section_info .user_inforomation {
  padding: 15px 0;
}

.profile_page .profile_info .profile_section_info .user_inforomation .info_div {
  border-bottom: 2px solid #ddd;
  padding: 5px 0;
}

.profile_page .profile_info .profile_section_info .user_inforomation .main_title {
  color: #999;
  margin-top: 15px;
  margin-bottom: 20px;
}

.profile_page .profile_info .profile_section_info .user_inforomation p {
  margin: 3px 0;
}

.edit_profile .profile_page .user_img {
  position: relative;
}

.edit_profile .profile_page .user_img .upload_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: rgba(227, 169, 43, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.edit_profile .profile_page .user_img .upload_icon span {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */