$text_color: #213242;
$min_Shadow_color: rgba(227, 169, 43, 0.55);
$min_color: #e3a92b;
$min_tow: #517490;
$a: #3c5a72;
$a: #cd9a03;
$a: #e1c888;

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: $text_color;
  overflow-x: hidden;
  overflow-y: auto;
  // direction: rtl;
}
.main_color {
  color: $min_color;
}
.no_btn {
  background-color: transparent;
  border: transparent;
}
.btn_color {
  padding: 5px 15px;
  background-color: $min_color;
  position: relative;
  border-color: $min_color;
  cursor: pointer;
  span {
    position: relative;
    color: #fff;
    z-index: 2;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.26);
  }
}
.btn_color-outline {
  padding: 5px 15px;
  position: relative;
  border-color: $min_color;
  cursor: pointer;
  span {
    position: relative;
    color: #fff;
    z-index: 2;
  }
  &:hover {
    background-color: $min_color;
    color: #fff;
  }
}
.see_more_btn {
  display: block;
  width: 100%;
  text-align: center;
  button {
    color: #fff;
    padding: 10px 20px;
    border-color: $min_color;
    margin: 25px auto;
  }
}
.pagination_med{
  .pagination{

    a.page-link{
      
      color: $min_color !important;
    }
  }
}
//  ========================================= General Style ==========================================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dv_bkground_contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dv_bkground_cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  color: $text_color;
}
a:hover {
  text-decoration: none;
}

//  ========================================= start Header & navBar ==========================================
header {
  .top_header {
    padding: 5px 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 250px;
      a {
        background-image: url(../images/logo.png);
        display: block;
        height: 80px;
      }
    }
    .search_form {
      button.btn.search_btn {
        margin-left: -40px;
        color: $min_color;
        background-color: #fff;
        padding: 5px;
        position: relative;
      }
    }
  }
  .nav {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    transition: 0.3s;
    z-index: 8;
    .min_menu {
      display: flex;
      .toggle_bar {
        display: none;
      }
      .login_btns_mobile {
        display: none;
      }
      .the_navbar {
        width: 100%;
        display: block;
        transition: 0.3s;

        ul {
          display: flex;
          align-items: center;
          ul {
            margin-left: auto;

            span {
              font-size: 18px;
            }
            & > li::after {
              display: none;
            }
          }
          li {
            margin: 5px;
            position: relative;

            a {
              padding: 5px 15px;
              font-size: 20px;
              color: #fff;
            }
          }
          li {
            padding: 15px 5px;
            margin: 5px;
            position: relative;
            z-index: 5;
            &::after {
              // content: "";
              background-color: $text_color;
              height: 2px;
              width: 100%;
              position: absolute;
              left: 0;
              bottom: 10px;
            }
            &:hover a {
              color: $text_color;
              transition: 0.3s;
            }
            &:hover::after {
              background-color: $min_color;
              transition: 0.3s;
            }
          }
        }
        .uer_info {
          position: relative;
          color: #fff;
          cursor: pointer;
          ul {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            color: #000;
            width: 100%;
            left: 0;
            right: 0;
            top: 50px;
            height: 0;
            transition: 0.3s ease;
            overflow: hidden;
            li {
              transition: 0.3s ease;
              padding: 5px 0;
              display: block;
              width: 100%;
              font-size: 16px;
              text-align: center;
              &:hover {
                background-color: $min_color;
                color: #fff;
                transition: 0.3s ease;
              }
              a {
                font-size: 16px;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
          &:hover .uer_info_list {
            height: auto;
            transition: height 0.3s ease-in-out;
          }
        }
      }
    }
    &.active {
      background-color: #fff;
      position: fixed;
      transition: 0.3s;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.28);

      .the_navbar {
        ul {
          li {
            a {
              color: $min_color;
            }
          }
        }
      }
    }
  }
  .header_slider {
    .indecators_style {
      li {
        background-color: $min_color;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
    .slider_img_bg {
      height: 500px;
      display: flex;
      align-items: center;
      position: relative;
    }
    .over_ly {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.26);
    }
    .header_slider_contain {
      position: relative;
      z-index: 5;
      color: #fff;
    }
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
//  ========================================= End Header & navBar ==========================================

//  ========================================= start Home section ==========================================

.pagge_wraper {
  .min_sec {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .corses_sec {
    .home_intro {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
      h1 {
        color: $min_color;
        font-size: 40px;
      }
      p {
        padding-top: 15px;
        color: $text_color;
      }
    }
  }
  .cors_item {
    display: block;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.18823529411764706);
    border-radius: 5px;
    margin: 12px 0;
    overflow: hidden;
    .cors_body {
      .cors_img {
        height: 250px;
        position: relative;
        &::before {
          content: "";
          left: -50px;
          right: 0;
          bottom: -2px;
          height: 44px;
          position: absolute;
          border-style: solid;
          border-color: transparent #fff transparent transparent;
          border-width: 85px 474px 0px 0px;
        }
        .cors_price {
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: $min_color;
          color: $text_color;
          text-align: center;
          line-height: 50px;
          border-radius: 50%;
          right: 0;
          bottom: 45px;
          font-weight: bold;
          overflow: hidden;
        }
      }
      .cors_info {
        padding: 0 15px;
        text-align: center;
        .cors_name {
          font-size: 20px;
          font-weight: 500;
        }
        .cors_desc {
          color: $min_color;
          font-weight: 500;
          margin: 10px 0;
        }
      }
      .cors_footer {
        padding: 0 15px;
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cors_rating {
          .fa {
            color: gold;
          }
        }
      }
      .reacher_info {
        padding: 5px 15px;
        margin: 30px 0 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid $text_color;
      }
    }
  }

  .banner_sec {
    .banner {
      min-height: 250px;
      padding: 15px 0;
      position: relative;
      display: flex;
      align-items: center;
      .over_ly {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $min_Shadow_color;
      }
      .banner_item {
        color: #fff;
        margin: 15px 0;
        .banner_icon {
          font-size: 50px;
        }
        .banner_counter {
          font-size: 40px;
          font-weight: bold;
        }
        .banner_title {
          font-size: 25px;
        }
      }
    }
  }

  .event_sec {
    .events_title {
      h1 {
        color: $min_color;
      }
      p {
        color: $text_color;
      }
    }
    .event_item {
      margin: 25px 0;
    }
  }
  footer {
    background-color: $text_color;
    color: #fff;
    padding: 25px 0;
    display: flex;
    align-items: center;

    .footer_links {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        display: inline-block;
        margin: 0 5px;
        a {
          color: $min_color;
        }
      }
    }
    .chat_services {
      text-align: right;
      .btn {
        margin-top: 10px;
        color: $min_color;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .copy_write {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: $min_color;
    color: #fff;
    p {
      margin: 0;
    }
  }
}
//  ========================================= end Home section ==========================================
//  ===============auther pages ==========================================

.header_banner {
  background-image: url(../images/banner1.jpg);
  height: 250px;
  text-align: center;
  position: relative;

  .over_ly {
    padding-top: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $min_Shadow_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: white;
  }
}
// ...................educations---------------
.courses_filter {
  margin: 50px 0;
  .corses_btn {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    &.active {
      background-color: transparent;
      color: $min_color;
    }
    &:hover {
      background-color: transparent;
      color: $min_color;
    }
  }
}
.education_courses {
  .course_item_grid {
    transition: 0.3s;
    &.active {
      display: block !important;
    }
  }
}

.registration_page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  .form {
    width: 500px;
    display: block;
    box-shadow: 0 0 10px 3px $min_Shadow_color;
    padding: 15px;
    input[type="email"],
    input[type="password"],
    input[type="text"] {
      margin: 20px 0;
      padding: 20px;
      font-size: 20px;
    }

    .logo {
      margin: 15px auto;
      display: block;
      text-align: center;
    }
    label {
      color: $min_color;
    }
    .btn_sub {
      width: 100%;
      background-color: $min_color;
      font-size: 20px;
      color: #fff;
      margin: 15px 0;
    }
    .regiter_help {
      text-align: center;
    }
  }
}
.about_us {
  margin: 50px 0;
  .about_tabs {
    ul {
      li {
        cursor: pointer;
        border: 1px solid #ddd;
        transition: 0.3s;
        &.active {
          background-color: $min_color;
          border-color: $min_color;
        }
        &:hover {
          background-color: $min_color;
          border-color: $min_color;
          transition: 0.3s;
          color: #fff;
        }
      }
    }
  }
  .about_text {
    .about_section_text {
      display: none;
      &.active {
        display: block;
      }

      .title {
        font-size: 25px;
        font-weight: bold;
        color: $min_color;
      }
    }
  }
}
.course_info {
  margin: 25px 0;

  .course_inforomation {
    border: 3px solid $min_Shadow_color;
    background-color: $text_color;
    color: #fff;
    .course_image {
      height: 400px;
    }
    .course_info_body {
      padding: 10px 25px;
      .course_name {
        margin: 25px 10px;
      }
      .course_teacher_section_rating {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .teacher {
          display: flex;
          align-items: center;
          .techer_img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
          }
          .teacher_info {
            margin-left: 25px;
            .thc_position {
              font-size: 25px;
              font-weight: bold;
            }
            .thc_name {
              font-weight: 500;
            }
          }
        }
        .teacher_rating {
          .rating_tch {
            color: gold;
          }
        }
      }
    }

    .course_desctiption_taps {
      .nav {
        justify-content: center;
        li {
          margin: 10px;
          padding: 0;
          a {
            padding: 15px 25px;
            &:hover {
              background-color: #fff;
              color: #000;
            }
            &.active {
              background-color: #fff;
            }
          }
        }
      }
      .taps_content {
        padding: 15px 30px;
        text-align: center;
      }
    }
  }
  .course_sidebar_info {
    border: 2px solid $min_Shadow_color;
    padding: 15px;
    .the_title {
      font-size: 20px;
      font-weight: bold;
    }
    .price {
      text-align: center;
      border-bottom: 1px solid $min_color;
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 20px;
      padding: 5px;
    }
    .course_date_info {
      li {
        font-size: 19px;
        display: flex;
        align-items: center;
        margin: 15px 0;
        i {
          font-size: 22px;
          color: $min_color;
        }
        p {
          margin: 0;
          margin-left: 15px;
        }
      }
    }
    .btn_color {
      color: #fff;
      padding: 10px 25px;
      display: block;
      margin-top: 15px;
      margin-bottom: 10px;
      &:hover {
        background-color: transparent;
        color: $min_color;
      }
    }
  }
}

.cart_page {
  margin: 25px 0;
  .cart_form {
    padding: 15px;
    margin-bottom: 25px;
    border: 3px solid $min_Shadow_color;
    .section_cart {
      display: none;
      &.active {
        display: block;
        transition: 0.3s;
      }
      transition: 0.3s;
    }
  }
  .section_cart_1 {
    .cart_title {
      margin: 5px 0px;
      padding: 10px;
      border-bottom: 1px solid;
      font-size: 22px;
      font-weight: bold;
    }
    .price {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      margin: 10px;
    }
    .check_price {
      font-size: 20px;
      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;
      }
      .form-check-label {
        line-height: normal;
        margin-top: 5px;
        cursor: pointer;
        margin-left: 10px;
      }
      input[type="radio"] {
        width: 18px;
        height: 18px;
        visibility: hidden;
        cursor: pointer;
        position: relative;
      }
      input[type="radio"]:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -2px;
        left: 0px;
        position: relative;
        background-color: #d1d3d1;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }

      input[type="radio"]:checked:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -2px;
        left: 0px;
        position: relative;
        background-color: $min_color;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
    }
  }
  .section_cart_2 {
    .cart_title {
      margin: 5px 0px;
      padding: 10px;
      border-bottom: 1px solid;
      font-size: 22px;
      font-weight: bold;
    }
    .user_info_cart {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      margin: 10px;
    }
    .final_price_info {
      .price_inf_section {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding: 15px 10px;
        border-top: 1px solid #000;

        .price_total {
          font-weight: 500;
        }
      }
    }
  }

  .section_cart_3 {
    .bank_transfare {
      .cart_title {
        margin: 5px 0px;
        padding: 10px;
        border-bottom: 1px solid;
        font-size: 22px;
        font-weight: bold;
      }
      .bank_trans_info {
        font-size: 20px;
        padding: 10px;
        background-color: $text_color;
        color: #fff;
        // text-transform: capitalize;
        margin: 5px 0;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    margin: 25px 0;
    align-items: center;
    .btn {
      padding: 5px 20px;
      font-size: 19px;
      &:hover {
        background-color: transparent;
        color: $min_color;
      }
    }
  }
}
.price_side_bar {
  background-color: $text_color;
  color: #fff;
  padding: 15px;
  .side_title {
    font-size: 20px;
  }
  ul {
    li {
      margin: 10px 0;
      padding: 10px;
      &.active {
        background-color: $min_color;
      }
    }
  }
}
.team_section {
  padding: 25px;
  .team_item {
    border: 1px solid $min_Shadow_color;
    margin: 10px 0;
    .team_img {
      min-height: 300px;
    }
    .team_box_info {
      padding: 10px;
      .team_title {
        text-align: center;
        color: $min_color;
        font-size: 25px;
        font-weight: bold;
      }
      .team_position {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      p {
        text-transform: capitalize;
      }
      .team_sicial {
        text-align: center;
        a {
          margin: 15px 10px;
          font-size: 20px;
          .fa-facebook-f:hover {
            color: #1877f2;
          }
          .fa-twitter:hover {
            color: #1da1f2;
          }
          .linkedin:hover {
            color: #007bb5;
          }
        }
      }
    }
  }
}
.blog_section {
  .blog_item {
    margin: 25px 0;
    .blog_img {
      height: 300px;
      border-radius: 20px;
      position: relative;
      .blog_ctegury{
        position: absolute;
        padding: 10px 20px;
        background-color: #fff;
        color: $min_color;
        border-radius: 30px;
        left: 15px;
          transition: .3s ;
          bottom: 15px;
        &:hover{
          transition: .3s ;
          background-color: $text_color;
          color: #fff;
        }
      }
    }
    .blog_item_title{
      font-weight: bold;
      font-size: 25px;
      margin: 15px 0 ;
    }
  }
}
.blog_details{
  margin: 25px 0;
  .blog_img{
    min-height: 400px;
    margin-bottom: 25px;
  }
  .title_blog_details{
    font-size: 25px;
    margin: 20px 0;
    font-weight: bold;
  }
}